@use './globalStyle.css';

.CreateAccount {
    height: 100vh;
}
.CreateAccount-container {
    display: grid; /* con grid y la línea de debajo --> */
    place-items: center;  /* centramos el contenido tanto vertical como horizontalmente */
    height: 90%;
    width: 100%;
}
.form-container_CreateAccount {
    display: grid;

    max-width: 300px;
    width: 90%;
    height: 100%;
}
.title-CreateAccount {
    text-align: start;

    margin-bottom: 4.7rem;

    font-size: var(--large);
}
.form-CreateAccount {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}
.form-CreateAccount section {
    display: flex;
    flex-direction: column;

    margin-top: 3.4rem;
}
.label-CreateAccount {
    margin-bottom: 0.4rem;

    font-weight: bold;
    font-size: var(--small);
}
.input-CreateAccount {
    height: 3rem;
    padding: 0.6rem;
    margin-bottom: 1.2rem;

    border: none;
    border-radius: 8px;

    font-size: var(--medium);

    background-color: var(--very-light-color);
}
.input-name_CreateAccount,
.input-email_CreateAccount {
    margin-bottom: 2.2rem;
}
.input-password_CreateAccount {
    margin-bottom: 3.6rem;
}

.primary-button_CreateAccount {
    width: 100%;
    height: 5rem;

    border-radius: 8px;
    border: none;

    font-size: var(--medium);
    font-weight: bold;

    color: var(--white);
    background-color: var(--hospital-green);

    cursor: pointer;
}
.login-button_CreateAccount {
    margin-bottom: 2.2rem;
}
@media (min-width: 768px) {
    .form-CreateAccount {
        justify-content: center;
    }
}