@use './globalStyle.css';

.EmailSend-container {
    display: grid; /* con grid y la línea de debajo --> */
    place-items: center;  /* centramos el contenido tanto vertical como horizontalmente */

    width: 100%;
    height: 100vh;
}
.form-container_EmailSend {
    display: grid;
    justify-items: center;

    max-width: 300px;
    width: 90%;
}
.logo-container_EmailSend {
    justify-self: center;
}
.logo-EmailSend {
    margin-bottom: 4.8rem;
    width: 15rem;
}

.title-EmailSend {
    text-align: center;

    margin-bottom: 1.2rem;

    font-size: var(--large);
}
.subtitle-EmailSend {
    text-align: center;

    margin-bottom: 3.2rem;

    font-weight: 300;
    font-size: var(--medium);

    color: var(--black);
}
.email-image_EmailSend {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2.4rem;

    width: 13.2rem;
    height: 13.2rem;
    border-radius: 50%;

    background-color: var(--very-light-color);
}
.email-image_EmailSend img {
    width: 8rem;
}
.resend-EmailSend {
    font-size: var(--small);
}
.resend-EmailSend span{
    color: var(--text-span-email);
}
.resend-EmailSend a{
    margin-left: 5px;

    color: var(--hospital-green);

    text-decoration: none;
}
.primary-button_EmailSend {
    width: 100%;
    height: 5rem;

    border-radius: 8px;
    border: none;

    font-size: var(--medium);
    font-weight: bold;

    color: var(--white);
    background-color: var(--hospital-green);

    cursor: pointer;
}
.login-button_EmailSend {
    margin-top: 1.4rem;
    margin-bottom: 3rem;
}
@media (min-width: 768px) {
    .logo-container_EmailSend {
        display: none;
    }
    .EmailSend .Header {
        display: flex;
    }
}