@use './globalStyle.css';

.header-container {
    display: flex;
    text-decoration: none;
    list-style: none;
    justify-content: space-between;

    padding: 10px 15px;
    border-bottom: 1px solid var(--very-light-color);
}
.menu-header {
    display: block;
}
.logo-header {
    margin: 0;
}
.logo-header {
    width: 10rem;
}
.navbar-left_header ul,
.navbar-right_header ul {
    display: flex;
    align-items: center;

    list-style: none;
}
.navbar-left_header {
    display: none;
}
.navbar-left_header ul {
    margin-left: 12px;
}
.navbar-left_header ul li a,
.navbar-right_header ul li a {
    color: var(--color-text-paragraph);

    padding: 2px 10px;

    text-decoration: none;
}
.navbar-left_header ul li a:hover,
.navbar-right_header ul li a:hover {
    border: 1px solid var(--hospital-green);
    border-radius: 10px;

    color: var(--hospital-green);
}
.navbar-email_header {
    display: none;
    color: var(--color-text-paragraph);
    margin: 10px 2px 12px;

    font-size: var(--small);
}
.navbar-right_header ul picture img {
    display: none;
}
.navbar-shoppingCart_header {
    position: relative;
    margin-left: 20px;
}
.navbar-shoppingCart_header div {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 15px;
    height: 15px;
    top: -5px;
    right: -8px;

    border-radius: 50%;

    background-color: var(--hospital-green);

    font-size: var(--small);
    font-weight: bold;
}
@media (min-width: 768px) {
    .header-container {
        padding: 10px 30px;
    }
    .menu-header {
        display: none;
    }
    .logo-header {
        width: 15rem;
    }
    .navbar-left_header {
        display: flex;
    }
    .navbar-email_header {
        display: flex;
    }
    .navbar-right_header ul picture img {
        display: flex;
    }
}