@use './globalStyle.css';

:root {
    --card-size: 14rem;
}
.cards-container_HomeScreen {
    display: grid;
    grid-template-columns: repeat(auto-fill, 14rem);
    place-content: center;

    margin: 4.1rem 0;

    gap: 2.2rem;
}
.product-card_HomeScreen {
    width: var(--card-size);
}
.product-card_HomeScreen img {
    width: var(--card-size);
    height: var(--card-size);
}
.product-card_HomeScreen picture img{
    border-radius: 20px;

    object-fit: cover; /* Hace que la imágen no se vea estirada o comprimida al haberle cambiado su tamaño*/
}
.product-info_HomeScreen {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 1.2rem;
}
.product-info_HomeScreen div p:nth-child(1) {
    margin-bottom: 0.4rem;

    font-weight: bold;
    font-size: var(--medium);
}
.product-info_HomeScreen div p:nth-child(2) {
    font-size: var(--small);

    color: var(--color-text-paragraph);
}
.product-info_HomeScreen figure img {
    width: 3.5rem;
    height: 3.5rem;
}
@media (min-width: 768px) {
    :root {
        --card-size: 24rem;
    }
    .cards-container_HomeScreen {
        grid-template-columns: repeat(auto-fill, 24rem);
    }
    .product-card_HomeScreen {
        width: var(--card-size);
    }
    .product-card_HomeScreen img {
        width: var(--card-size);
        height: var(--card-size);
    }
}