@use './globalStyle.css';

.menu-container_HomeMenuDeskstop {
    width: 10rem;
    height: auto;

    padding: 2rem;
    border: 1px solid var(--very-light-color);
    border-radius: 5px;
}
.menu-container_HomeMenuDeskstop ul {
    list-style: none;
}
.menu-container_HomeMenuDeskstop ul li {
    text-align: end;
}
.menu-container_HomeMenuDeskstop ul li:not(:last-child) a {
    margin-bottom: 3rem;

    font-weight: bold;

    color: var(--black);
}
.menu-container_HomeMenuDeskstop ul li:last-child {
    padding-top: 2rem;
    border-top: 1px solid var(--very-light-color);
}
.menu-container_HomeMenuDeskstop ul li:last-child a{
    font-size: var(--small);

    color: var(--hospital-green);
}
.menu-container_HomeMenuDeskstop ul li a {
    display: inline-block;

    text-decoration: none;
}