@use './globalStyle.css';

:root {
    --margin-distance: 3.9rem
}
.MobileMenu-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 100vh;

    padding: var(--margin-distance);
}
.MobileMenu-container ul {
    list-style: none;
}
.MobileMenu-container  ul:nth-child(1) {
    border-bottom: 1px solid var(--very-light-color);
    margin-bottom: var(--margin-distance);
}
.MobileMenu-container ul li {
    margin-bottom: var(--margin-distance);
}
.MobileMenu-container a {
    font-weight: bold;

    color: var(--black);

    text-decoration: none;
}
.MobileMenu-container ul:last-child {
    margin-bottom: 1.6rem;
}
.MobileMenu-container ul:last-child li:first-child {
    margin-bottom: 0;
}
.MobileMenu-container .email-MobileMenu {
    margin-bottom: 0.2rem;

    font-weight: 300;
    font-size: var(--small);
}
.MobileMenu-container .sign-out_MobileMenu {
    font-size: var(--small);
    color: var(--hospital-green);
}