@use './globalStyle.css';

.MyAccount {
    height: 100vh;
}
.MyAccount-container {
    display: grid; /* con grid y la línea de debajo --> */
    place-items: center;  /* centramos el contenido tanto vertical como horizontalmente */

    width: 100%;
    height: 90%;
}
.form-container_MyAccount {
    display: grid;

    max-width: 300px;
    width: 90%;
    height: 100%;
}

.title-MyAccount {
    text-align: start;
    margin-bottom: 4.7rem;
    font-size: var(--large);
}
.form-MyAccount {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;

}
.form-MyAccount section {
    display: flex;
    flex-direction: column;

    margin-top: 3.4rem;
}
.label-MyAccount {
    margin-bottom: 0.4rem;

    font-weight: bold;
    font-size: var(--small);
}
.value-MyAccount {
    margin: 8px 0 32px 0;

    font-size: var(--medium);

    color: var(--color-text-paragraph);
}

.secondary-button_MyAccount {
    width: 100%;
    height: 5rem;

    border-radius: 8px;
    border: 1px solid var(--hospital-green);

    font-size: var(--medium);
    font-weight: bold;

    color: var(--hospital-green);
    background-color: var(--white);

    cursor: pointer;
}
.edit-button_MyAccount {
    margin-bottom: 2.2rem;
}
@media (min-width: 768px) {
    .form-MyAccount {
        justify-content: center;
    }
}