@use './globalStyle.css';

.main-login {
    display: grid; /* con grid y la línea de debajo --> */
    place-items: center;  /* centramos el contenido tanto vertical como horizontalmente */

    width: 100%;
    height: 100vh;
}
.form-container {
    display: grid;

    max-width: 300px;
    width: 90%;
    height: 100%;
}

.title {
    text-align: start;
    margin-bottom: 4.7rem;
    font-size: var(--large);
}
.subtitle {
    text-align: center;

    margin-bottom: 3.2rem;

    font-weight: 300;
    font-size: var(--medium);

    color: var(--black);
}
.form {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;

}
.form section {
    display: flex;
    flex-direction: column;

    margin-top: 3.4rem;
}
.label {
    margin-bottom: 0.4rem;

    font-weight: bold;
    font-size: var(--small);
}
.value {
    margin: 8px 0 32px 0;

    font-size: var(--medium);

    color: var(--color-text-paragraph);
}

.secondary-button {
    width: 100%;
    height: 5rem;

    border-radius: 8px;
    border: 1px solid var(--hospital-green);

    font-size: var(--medium);
    font-weight: bold;

    color: var(--hospital-green);
    background-color: var(--white);

    cursor: pointer;
}
.edit-button {
    margin-bottom: 2.2rem;
}
@media (min-width: 768px) {
    .form {
        justify-content: center;
    }
}