@use './globalStyle.css';

.MyOrdersList {
    height: 100vh;
}
.MyOrdersList-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    height: 90%;
}
.title-order_MyOrdersList {
    display: none;
}
.my-order-container_MyOrdersList {
    display: grid;
    grid-template-rows: auto 1 fr auto;

    width: 90%;
    max-width: 30rem;
    padding-top: 3.2rem;
}
.my-order-content_MyOrdersList {
    display: flex;
    flex-direction: column;
}
.order-MyOrdersList {
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr auto;
    height: 7.6rem;

    gap: 1.6rem;
}
.order-MyOrdersList p:first-child {
    display: flex;
    flex-direction: column;
}
.order-MyOrdersList span:first-child {
    font-size: var(--medium);
    font-weight: bold;
}
.order-MyOrdersList span:nth-child(2) {
    font-size: var(--small);

    color: var(--color-text-paragraph);
}
.order-MyOrdersList p:nth-child(2) {
    text-align: end;
    font-weight: bold;
}
@media (min-width: 768px) {
    .title-order_MyOrdersList {
        display: block;

        margin-top: 10.1rem;
        margin-bottom: 3.7rem;

        font-size: var(--large);
    }
    .my-order-container_MyOrdersList {
        max-width: 40rem;
        padding-top: 0;
    }
}